@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@700&family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Lato;
    font-weight: 400;
}

body {
    background-color: #000600;
    color: #194113;
}

h1, h2, h3, h4, h5, h6 {
    color: #327d26;
}

h3 {
    color: #265f1c;
}

p {
    color: #194113;
}

a {
    color: #327d26;
    text-decoration: none;
}

a:hover {
    color: #194113;
}

/* button {
    background-color: #327d26;
    color: #0d2409;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color 0.3s;
} */

button:hover {
    background-color: #265f1c;
}

.ability {
    color: white;
    background-color: #1DBE98;
    padding: 0.1rem 0.75rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    font-weight: 300;
}

.green-border {
    color: #1DBE98;
    border: solid #1DBE98 1px;
    padding: 0 0.5rem;
    border-radius: 1rem;
    font-weight: 400;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.img-mujer1 {
    max-width: 513px;
    height: 548px;
}

.img-personas-flor {
    width: 700px;
    height: auto;
}
